<header class="site-header">
    <div class="header-bg">
        <div class="header-overlay">
            <h1 class="site-title">Fórum Old Is School</h1>
        </div>
    </div>

    <nav class="top-menu">
        <ul>
            <li><a href="/" class="btnHeader">Início</a></li>
            <li><a href="#/forum" class="btnHeader">Fórum</a></li>
            <li><a href="#" class="btnHeader">Membros</a></li>
            <li><a href="#" class="btnHeader">Contato</a></li>
        </ul>
    </nav>
</header>