<!-- CONTEÚDO PRINCIPAL -->
<section class="main-content">
    <h1>Posts em destaque</h1>
    <div class="posts-section">
        <h2>Mais votados</h2>
        <div class="post">
            <h3>Melhor guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
        <div class="post">
            <h3>Guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
        <div class="post">
            <h3>Melhor guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
        <div class="post">
            <h3>Guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
        <div class="post">
            <h3>Melhor guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
        <div class="post">
            <h3>Guia de montagem de PCs antigos</h3>
            <p class="post-meta">Postado por <b>Lucas</b> em 2007</p>
        </div>
    </div>
</section>