<section class="main-content mt-3">
    <div class="posts-section">
        <div id="postsContainer"></div>
        <div class="row">
            <div class="col-6">
                <div class="post-votes">
                    <i class="fa-regular fa-thumbs-up"></i> 12
                </div>
            </div>
            <div class="col-6">
                <div class="post-comments">
                    <i class="fa-regular fa-comment"></i> 2
                </div>
            </div>
        </div>
    </div>
</section>