<!-- CONTEÚDO PRINCIPAL -->
<section class="main-content">
    <h1>Perfil</h1>
    <div class="row">
        <div class="col-4 text-center">
            <img src="/frontend/assets/img/user.svg" class="user-avatar" id="avatar_view">
        </div>
        <div class="col-8">
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <h3 id="name"></h3>
            </div>
            <div class="mb-3">
                <label for="biografia" class="form-label">Biografia</label>
                <h4 id="biografia"></h4>
            </div>
            <div class="mb-3">
                <label for="assinatura" class="form-label">Assinatura</label>
                <h4 id="assinatura"></h4>
            </div>
        </div>
    </div>
    <h1>Postagens</h1>
    <div id="posts-user"></div>

</section>